{% extends 'viewflow/flow/task.html' %}
{% block task_form %}
    {{ block.super }}
    <div class="row"><div class="col s12"><h5>Основание для разработки</h5></div> </div>
    {% if activation.process.document.intro %}
        <div class="row">
            <div class="col s12"><i>Оращение: {{ activation.process.document.intro }}</i></div>
        </div>
        <div class="row">
            <div class="col s12">{{ activation.process.document.intro.description }}</div>
        </div>
    {% endif %}
    <div class="row"><div class="col s12"><i>Задача: {{ activation.process.document }}</i></div> </div>
    <div class="row">
        <div class="col s12">
            <p>
               {{ activation.process.document.info }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col sm12"><h5>Информация о проведенном тестировании:</h5></div>
    </div>
    <table>
        {% for pt in tests %}
            <tr style="border-bottom: 1px solid grey;">
                <td><div>{{ forloop.counter }}</div> </td>
                <td>{{ pt.info }}</td>
                <td>{{ pt.result }}</td>
                {% if pt.passed %}
                    <td style="background-color:#05f027;">Пройдено успешно</td>
                {% else %} <td style="background-color:#e45655"> Не пройдено </td>
                {% endif %}

            </tr>
        {% empty %}
            <div class="row"><div class="col s12">Тестирование еще не проводилось</div> </div>
        {% endfor %}
    </table>
{% endblock %}