{% extends 'viewflow/flow/task.html' %}
{% load viewflow viewflow_frontend material_form material_frontend %}
{% block task_form %}
    {{ block.super }}
    <div class="row">
        <div class="col sm12"><h5>Информация о проведенном ранее тестировании:</h5></div>
    </div>
    {{ formset.management_form }}
    <table class="table-bordered">
        {% for f in formset %}
            <tr>
                {{ f.id }}
                <td>{{ forloop.counter }}</td>
                <td>{{ f.info.value }} {{ f.info.as_hidden }} </td>
                <td>{{ f.result.value }} {{ f.result.as_hidden }}</td>
                <td>
                    {% if f.passed.value %}
                        <p>Пройдено успешно</p>
                        {{ f.passed.as_hidden }}
                    {% else %}
                        {{ f.passed }}
                        <label for="{{ f.passed.id_for_label }}">Пройдено?</label>

                    {% endif %}
                </td>
                {#            {% form form=f layout=view.layout %}{% endform %}#}

            </tr>
        {% endfor %}

    </table>

{% endblock %}

{% block task_actions %}
    <div class="row">
        <div class="col s3">
            <a class="btn btn-flat black-text" href="{% flowurl activation.task 'detail' %}?{{ request|query_back }}">Детали</a>
        </div>
        <div class="col s9 right-align">
            <button type="submit" name="_continue" class="btn btn-flat">Закончить и продолжить процесс</button>
            <button type="submit" name="_done" class="btn primary white-text btn-flat">Закончить</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12 right-align">
            <button type="submit" name="_continue_testing" class="btn btn-flat">Сохранить и продолжить тестирование</button>
        </div>
    </div>
{% endblock %}