<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyDynRef creation</title>
</head>
<body>
{% block content %}
    <form>
        <input type="submit">
    </form>
{% endblock content %}
</body>
</html>