{% extends 'material/frontend/base.html' %}
{% load material_form static%}

{% block main_content %}
<form method="POST" class="viewform" enctype="multipart/form-data">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <button type="submit" name="_submit" class="btn">Submit</button>
</form>

<ul>
{% for f in files %}
    <li><a href="{{ f.file.url }}">{{ f.title }}</a></li>
{% empty %}
    <li>No files!</li>
{% endfor %}
</ul>
{% endblock %}