{% extends 'create_ref.html' %}
{% block content %}
    <table>
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.code }}</td>
                <td>{{ obj.first_name }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">No values</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}