{% extends 'viewflow/flow/task.html' %}

{% block task_form %}
    <div>
        <div style="margin-top: 10px !important;">
            <div class="row">
                <div class="col s12 align-left"><b> Информация от клиента:</b></div>
            </div>
            <div class="row">
                <div class="col s12 align-left">{{ activation.process.request.customer_description }}</div>
            </div>
            <div class="row">
                {% if add_info.access_object.code %}
                <div class="col s12 align-left">
                    [{{ add_info.access_object.code }}] {{ add_info.access_object.name }}
                </div>
                {% endif %}
                {% if add_info.service_object.code %}
                <div class="col s12 align-left">
                    [{{ add_info.service_object.code }}] {{ add_info.service_object.name }}
                </div>
                {% endif %}
            </div>

        </div>

        <div style="margin-top: 10px !important;">
            <div class="row">
                <div class="col s12 align-left"><b> Информация от 1й линии: </b></div>
            </div>
            <div class="row">
                <div class="col s12 align-left">{{ activation.process.request.employee_description }}</div>
            </div>
        </div>
        <div style="margin-top: 10px !important;">
            <div class="row">
                <div class="col s12 align-left"><b>Результаты выполнения:</b></div>
            </div>
            <div class="row">
                <div class="col s12">
                    <table>
                        {% for ans in activation.process.request.requestanswer_set.iterator %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ ans.answer }}</td>
                                <td>{{ ans.answered_person }}</td>
                                <td>{{ ans.answered_at }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>

    </div>
    {{ block.super }}
{% endblock %}