{% extends 'viewflow/flow/start.html' %}

{% block left-panel %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            console.log("{{ form.data.customer }}");
            var current_id = {% if form.data.customer %} {{ form.data.customer }} {% else %} 0 {% endif %};
            var current_text = '';
            var hidden_input = $('#id_customer');
            var label = $("label[for='"+$(hidden_input).attr('id')+"']");
            var data_url = hidden_input.attr('data-url');
            hidden_input.after('<input type="text" id="id_customer_autocomplete" name="customer_autocomplete" autocomplete="off" class="autocomplete"><label for="id_customer_autocomplete">Клиент</label>');

            hidden_input.hide();
            label.hide();
            $.get(data_url).done(function (data) {
                var obj = jQuery.parseJSON(data);
                var result = {};
                var sourceData = {}
                for (idx in obj) {
                    var text = '[' + obj[idx].code + '] ' + obj[idx].name
                    sourceData[text] = null;
                    result[text] = obj[idx];
                    if (obj[idx].pk == current_id) {
                        current_text = text;
                    }
                }
                var ac =$('#id_customer_autocomplete').autocomplete({
                    limit: 20,
                    minLength: 1,
                    data : sourceData,
                    onAutocomplete: function (val) {
                      hidden_input.val(result[val].pk);
                    }
                });
                if (current_text){
                    $('#id_customer_autocomplete').val(current_text);
                    $('#id_customer_autocomplete').trigger('click');
                }
            })
        });


    </script>
{% endblock %}